th td {
    position: relative;
  }

.marker{
  border          : 1px solid black;
  border-radius   : 4px;
  background-color: greenyellow;
  
  width  :40px;
  height :20px;
  
  position : absolute;
  top : -5px;
  left: 2px;
}