th, td {
  position: relative;
}


.table-container{
display: block;
padding : 20px;
width: 90%;
border : 1px solid black;
background-color: white;
}

.cell{
position: relative;
background-color: white;
padding: 0px 10px
}

.selected{
  background: lightskyblue;
}

.selected2{
  background: steelblue;
  }

.marker{
border          : 1px solid black;
border-radius   : 4px;
background-color: greenyellow;

width  :40px;
height :20px;

position : absolute;
top : -5px;
left: 2px;
}



button{
margin:  10px 20px 10px 20px;
height: 40px;
}

.hidden {
color: white;
}

