.App {
  text-align: center;
  height: 100vh;

  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8f8f8f;

}

.container{
  margin-top: 2vh;
  margin-bottom: 3vh;
  padding: 20px;
  border : 1px solid black;
  background-color: white;
  color : black;
}

.table-container{
  display: block;
  padding : 20px;
  width: 90%;
  border : 1px solid black;
  background-color: white;
}

button{
  margin:  10px 20px 10px 20px;
}

.hidden {
  color: white;
}

.cell{
  position: relative;
  background-color: white;
  padding: 0px 10px
}

.selected{
  background: lightskyblue;
}